# Ignore All (xlsx) files
*.xlsx

# ignore PowerModelsParsing Package
src/PowerModelsParsing.jl

# also result graphics
examples/graphics/

# only leave basic results for 12 time steps in the repository
examples/results/24_time_steps/

# files that might still be useful but are old
examples/OLD_files/